body{
    background-size: cover;
    color: white;
    background-color: black;
    font-size: large;
}

.kék{
    background-color: blue;
}
.zöld{
    background-color: green;
}

.tető{
    margin: auto;
}
.copy{
    text-align: center;
}
.de{
    display: block;
    
}
.növekedés{
    height: 300px;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
